# These are files that are generated within the model tree by the
# ppremake system.
Makefile
/built/
*.bam
# *.egg
*.pt
stamp
*.boo
**/pal_egg
**/bams
**/optchar
**/topstrip
**/txocache.dat
*.vcxproj
*.mel