# These are files that are generated within the model tree by the
# ppremake system.
Makefile
/built/
built/
*.bam
# *.egg
*.pt
stamp
*.boo
**/pal_egg
**/bams
**/optchar
**/topstrip
**/txocache.dat
**/images
*.vcxproj
*.mel
*.swatch
*.swatches
*.txo
*.txo.pz
*.tmp
ttmodels_index
