!corpIcon.egg
!dice.egg
!jellyBean.egg
!legalIcon.egg
!mg_icons.egg
!moneyIcon.egg
!particleGlow.egg
!photogame_camera.egg
!photogame_filmroll.egg
!photogame_star.egg
!photogame_viewfinder.egg
!salesIcon.egg
!tug_of_war_rope.egg
!umbrella_card.egg