!tt_a_ara_ttc_sillyMeter_arrowFluid.egg
!tt_a_ara_ttc_sillyMeter_default.egg
!tt_a_ara_ttc_sillyMeter_phaseFive.egg
!tt_a_ara_ttc_sillyMeter_phaseFour.egg
!tt_a_ara_ttc_sillyMeter_phaseFourToFive.egg
!tt_a_ara_ttc_sillyMeter_phaseOne.egg
!tt_a_ara_ttc_sillyMeter_phaseThree.egg
!tt_a_ara_ttc_sillyMeter_phaseTwo.egg