!accessory_textures.egg
!driftSmoke.egg
!gag_panel.egg
!kart1_textures.egg
!kart2_textures.egg
!kart3_textures.egg
!particleSpark.egg
!pie_splat_1.egg
!race_mapspot.egg
!racing_panel.egg
!racing_textures.egg
!rim_textures.egg
!speedometer.egg
!tickets.egg
!trophy.egg